<form action="{% url 'polls:vote' question.id %}" method="post">

    {% csrf_token %}

    <fieldset>

        <legend><h1>{{ question.question_text }}</h1></legend>
        <legend><h4>Publication date: {{ question.pub_date }}</h4></legend>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        
        {% for choice in choices %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label><br>

        {% endfor %}

    </fieldset>

    <input type="submit" value="vote">

    </form>






<!-- {% if question %}
    <h1>{{ question.question_text }}</h1>
    <p> choices are as below </p>
    <ol>
        {% for choice in choices  %}
        <li>
            {{ choice.choice_text }}
        </li>
        {% endfor %}
    </ol>

{% else %}
    <p> question does not exist</p>

{% endif %} -->